body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #a03737; /* Light grey background */
}

header {
    background: #2b6386; /* Dark blue background */
    color: rgb(46, 49, 196);
    padding: 20px 10%;
    text-align: center;
}

header h1 {
    margin: 0;
}

section#description, section#gallery {
    padding: 20px 10%;
    margin: 20px 0;
    background: rgb(184, 214, 149);
}

section#gallery img {
    width: 100%; /* Responsive images */
    height: auto;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px 10%;
    background: #ddd;
}

footer a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline;
}

.scrollable-list {
    max-height: 200px;  /* or any appropriate height */
    overflow-y: scroll;
    width: 100%;  /* Adjust width as necessary */
    border: 1px solid #ccc;  /* Optional, for styling */
}
