/* about_us_values.css */
#about h2, #problem-solution h2, #innovation-text h2, #location-text h2, #contact-text h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2rem; /* 32px */
    font-weight: bold;
}

#about p, #problem-solution p, #innovation-text p, #news-text p, #location-text p, #contact-text p  {
    font-family: 'Arial', sans-serif;
    font-size: 1rem; /* 16px */
    font-weight: normal;
    line-height: 1.6; /* Improves readability */
    text-align: left; /* Ensures the text is evenly aligned on both sides */
}

#about, #problem-solution, #combined-section {
    position: relative; /* Required for the pseudo-elements, function is: to position an element relative to its normal position */
    color: #333; /* Dark grey for text */
    background-color: #e5e9e4; /* Very light green or another soft color */
}

#about img, #problem-solution img, #innovation img {
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    width: 100%; /* Ensures it fills the container */
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px; /* Rounds the corners */
}

/* This needed to be separate because the width of 100% doesn't work with the image */
#test-award-images img {
    box-shadow: 8px 8px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px; /* Rounds the corners */
}

/* Box that covers the text, not used for every section */
#about-text::after, #problem-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3); /* Dark overlay for better text visibility */
    border-radius: 10px; /* Matches the image */
}

/* This is for the combined awards and testimonials section. It makes sure the colored box is sized relative to the text */
#combined-text {
    background: rgba(180, 200, 233, 0.3);  /* Dark overlay */
    padding: 15px;  /* Padding to create some space around the text */
    border-radius: 10px;  /* Optional rounded corners */
    display: inline-block;  /* Ensures the background only covers the text */
    width: auto;  /* Adjusts width according to the content size */
    margin: 10px 0;  /* Adds some space above and below each paragraph */
    text-align: center;  /* Ensures the text is evenly aligned on both sides */
    max-width: 100%;  /* Optional: to prevent the text from being too wide */
}

/* This is for the hero section to make the font super bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans&display=swap');
#hero h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px; /* Adjust size for responsive design */
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(99, 209, 66, 0.6);
}

#hero p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(99, 209, 66, 0.6);
}
