.footer {
    position: fixed;    
    left: 100;
    bottom: 0;
    width: 100%;
    z-index: 10; /* Ensures the footer is above other content */
    height: 25px;
    text-size-adjust: 100%;
    text-align: left;
    background-color: #f5f5f5;
    line-height: 1px;
}

#combinedCarousel .carousel-indicators li {
    background-color: #bb1d1d; /* Change #yourDesiredColor to your preferred color */
}

#combinedCarousel .carousel-indicators .active {
    background-color: #ddd; /* A different color for the active indicator */
}
